body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#moon{
    width:250px;
    height:250px;
    top:50px;
    left:50px;
    justify-content: center;
}

a{
    text-decoration: none;
}

a:visited{
    color:black;
}

.button{
    margin-top:10px;
}

#moon .title{
    font-size: 130%;
    margin:0;
}