body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h2{
    font-family: "Nitemare";
    font-size: 200%;
}

.blood-container{
    display: flex;
    justify-content: space-between;
    min-width:30%;
}

#fang-container{
    position: relative;
}

.drop-small{
    position: absolute;
    top: 336px;
    left: 110px;
    background: crimson;
    width: 40px;
    height: 40px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 80px;
    -webkit-border-bottom-right-radius: 80px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.blood-drop{
    color: white;
    background: crimson;
    padding:.5%;
    height: 10vmin;
    width:10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 80px;
    -webkit-border-bottom-right-radius: 80px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.blood-drop p{
    transform: rotate(-45deg);
}

#fangs{
    height: 512px;
    width:512px;
    left:50%;
    z-index: 10;
}

#moon{
    width:250px;
    height:250px;
    top:50px;
    left:50px;
    justify-content: center;
}

#moon a{
    color: black;
}

a{
    text-decoration: none;
    color:white;
}



a:visited{
    color:black;
}

.button{
    margin-top:10px;
}

#moon .title{
    font-size: 130%;
    margin:0;
}